.registerCars{
  background-color: #222226;
  color: #FFF;
  min-height: calc(100vh - 0px);
}

.register-cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-column {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
  }
  
  .register-title {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .custom-btn {
    background-color: #F6AC27 !important;
    font-weight: bold !important;
    color: white;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 170px !important;
  }
  
  .custom-btn:hover {
    background-color: #ff9000 !important;
  }
  
  .custom-btn:active {
    background-color: #ff9100;
  }
  